<!DOCTYPE html>
<html lang="en">
    <%- include('./extends/head.ejs') -%> 
    <body>
        <canvas></canvas>
    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./javascripts/room.js"></script>
</html>